.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 16px;
  background-color: #0a0a0a;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-logo-img {
  width: 250px;
}

.navbar-login-btn {
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  background-color: #5ce1e6;
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 30%;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name {
  font-weight: 600;
  font-size: 18px;
}

.navbar-login-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
